In [1]:
import pandas as pd

df = pd.read_csv('data-lab-6-ckd-courseproject.csv')
display(df)

,Age,Blood Pressure,Specific Gravity,Albumin,Sugar,Red Blood Cells,Pus Cell,Pus Cell clumps,Bacteria,Blood Glucose Random,...,Packed Cell Volume,White Blood Cell Count,Red Blood Cell Count,Hypertension,Diabetes Mellitus,Coronary Artery Disease,Appetite,Pedal Edema,Anemia,Class
0,48.0,70.0,1.005,4.0,0.0,normal,abnormal,present,notpresent,117.0,...,32.0,6700.0,3.9,yes,no,no,poor,yes,yes,1
1,53.0,90.0,1.020,2.0,0.0,abnormal,abnormal,present,notpresent,70.0,...,29.0,12100.0,3.7,yes,yes,no,poor,no,yes,1
2,63.0,70.0,1.010,3.0,0.0,abnormal,abnormal,present,notpresent,380.0,...,32.0,4500.0,3.8,yes,yes,no,poor,yes,no,1
3,68.0,80.0,1.010,3.0,2.0,normal,abnormal,present,present,157.0,...,16.0,11000.0,2.6,yes,yes,yes,poor,yes,no,1
4,61.0,80.0,1.015,2.0,0.0,abnormal,abnormal,notpresent,notpresent,173.0,...,24.0,9200.0,3.2,yes,yes,yes,poor,yes,yes,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
153,55.0,80.0,1.020,0.0,0.0,normal,normal,notpresent,notpresent,140.0,...,47.0,6700.0,4.9,no,no,no,good,no,no,0
154,42.0,70.0,1.025,0.0,0.0,normal,normal,notpresent,notpresent,75.0,...,54.0,7800.0,6.2,no,no,no,good,no,no,0
155,12.0,80.0,1.020,0.0,0.0,normal,normal,notpresent,notpresent,100.0,...,49.0,6600.0,5.4,no,no,no,good,no,no,0
156,17.0,60.0,1.025,0.0,0.0,normal,normal,notpresent,notpresent,114.0,...,51.0,7200.0,5.9,no,no,no,good,no,no,0
157,58.0,80.0,1.025,0.0,0.0,normal,normal,notpresent,notpresent,131.0,...,53.0,6800.0,6.1,no,no,no,good,no,no,0

In [2]:
print(df.isnull().sum())
print('')
display(df[df.duplicated(keep=False)])

Age                        0
Blood Pressure             0
Specific Gravity           0
Albumin                    0
Sugar                      0
Red Blood Cells            0
Pus Cell                   0
Pus Cell clumps            0
Bacteria                   0
Blood Glucose Random       0
Blood Urea                 0
Serum Creatinine           0
Sodium                     0
Potassium                  0
Hemoglobin                 0
Packed Cell Volume         0
White Blood Cell Count     0
Red Blood Cell Count       0
Hypertension               0
Diabetes Mellitus          0
Coronary Artery Disease    0
Appetite                   0
Pedal Edema                0
Anemia                     0
Class                      0
dtype: int64

Empty DataFrame
Columns: [Age, Blood Pressure, Specific Gravity, Albumin, Sugar, Red Blood Cells, Pus Cell, Pus Cell clumps, Bacteria, Blood Glucose Random, Blood Urea, Serum Creatinine, Sodium, Potassium, Hemoglobin, Packed Cell Volume, White Blood Cell Count, Red Blood Cell Count, Hypertension, Diabetes Mellitus, Coronary Artery Disease, Appetite, Pedal Edema, Anemia, Class]
Index: []

[0 rows x 25 columns]

In [3]:
# create GFR and CKD Stages columns
def calc_gfr(Scr, Age):
    return (175 * (Scr) ** -1.154) * (Age ** -0.203) # GFR (mL/min/1.73 m^2) = 175 × (Scr)^-1.154 × (Age)-0.203

def ckd_stages(gfr):
    bins = [0, 45, 90, 250]
    labels = [3, 2, 1]  # number of items should be 1 less than bins
    return pd.cut(gfr, bins=bins, labels=labels)
    
df['GFR'] = calc_gfr(df['Serum Creatinine'], df['Age'])
df['CKD Stages'] = ckd_stages(df['GFR'])

df['CKD Stages'].value_counts()
display(df.head())

,Age,Blood Pressure,Specific Gravity,Albumin,Sugar,Red Blood Cells,Pus Cell,Pus Cell clumps,Bacteria,Blood Glucose Random,...,Red Blood Cell Count,Hypertension,Diabetes Mellitus,Coronary Artery Disease,Appetite,Pedal Edema,Anemia,Class,GFR,CKD Stages
0,48.0,70.0,1.005,4.0,0.0,normal,abnormal,present,notpresent,117.0,...,3.9,yes,no,no,poor,yes,yes,1,17.087393,3
1,53.0,90.0,1.020,2.0,0.0,abnormal,abnormal,present,notpresent,70.0,...,3.7,yes,yes,no,poor,no,yes,1,8.010292,3
2,63.0,70.0,1.010,3.0,0.0,abnormal,abnormal,present,notpresent,380.0,...,3.8,yes,yes,no,poor,yes,no,1,23.987121,3
3,68.0,80.0,1.010,3.0,2.0,normal,abnormal,present,present,157.0,...,2.6,yes,yes,yes,poor,yes,no,1,14.584319,3
4,61.0,80.0,1.015,2.0,0.0,abnormal,abnormal,notpresent,notpresent,173.0,...,3.2,yes,yes,yes,poor,yes,yes,1,15.795288,3

In [ ]:
for column in df.select_dtypes(include=['number']).columns:  # can also use df.select_dtypes(include=['number'])
    Q1 = df[column].quantile(0.25)
    Q3 = df[column].quantile(0.75)
    IQR = Q3 - Q1
    lower_band = Q1 - IQR
    upper_band = Q3 + IQR

    outlier_list = [i for i in df[column] if i < lower_band or i > upper_band]
    print(f'{column}: {outlier_list}')

Age: [83.0, 6.0, 15.0, 12.0, 17.0]
Blood Pressure: [110.0]
Specific Gravity: [1.005, 1.01, 1.01, 1.015, 1.01, 1.005, 1.01, 1.015, 1.005, 1.01, 1.01, 1.015, 1.01, 1.01, 1.015, 1.015, 1.01, 1.015, 1.01, 1.01, 1.01, 1.01, 1.01, 1.01, 1.01, 1.01, 1.015, 1.015, 1.01, 1.01, 1.015, 1.01, 1.01, 1.015, 1.01, 1.01]
Albumin: [4.0, 3.0, 3.0, 4.0, 3.0, 4.0, 3.0, 4.0, 3.0, 3.0, 4.0, 4.0, 4.0, 3.0, 3.0, 3.0, 4.0, 4.0, 4.0, 3.0, 4.0, 4.0, 3.0, 3.0, 3.0, 4.0, 3.0, 4.0, 3.0, 4.0]
Sugar: [2.0, 4.0, 2.0, 1.0, 2.0, 3.0, 1.0, 1.0, 1.0, 2.0, 2.0, 4.0, 1.0, 5.0, 2.0, 3.0, 3.0, 1.0]
Blood Glucose Random: [380.0, 173.0, 264.0, 253.0, 280.0, 210.0, 219.0, 295.0, 224.0, 288.0, 273.0, 303.0, 239.0, 252.0, 255.0, 253.0, 214.0, 490.0, 241.0, 214.0, 424.0, 176.0]
Blood Urea: [107.0, 90.0, 148.0, 163.0, 87.0, 142.0, 92.0, 107.0, 139.0, 186.0, 82.0, 90.0, 125.0, 166.0, 208.0, 125.0, 235.0, 158.0, 132.0, 150.0, 95.0, 191.0, 96.0, 215.0, 309.0]
Serum Creatinine: [3.8, 7.2, 2.7, 4.1, 3.9, 7.7, 2.7, 4.6, 3.3, 6.7, 8.5, 15.0, 3.2, 3.6, 5.6, 5.3, 5.6, 9.2, 5.3, 14.2, 2.6, 4.3, 11.8, 3.2, 12.8, 11.9, 3.9, 2.7, 7.2, 12.0, 6.3, 15.2, 13.3]
Sodium: [111.0, 114.0, 125.0, 122.0, 115.0, 125.0, 122.0, 114.0, 120.0, 120.0, 124.0]
Potassium: [6.4, 7.6, 47.0, 6.5]
Hemoglobin: [5.6, 7.7, 9.1, 7.1, 9.2, 8.1, 8.2, 7.9, 8.3, 8.7, 8.3, 8.1, 7.3, 7.9, 9.4, 8.6, 3.1]
Packed Cell Volume: [16.0, 24.0, 22.0, 23.0, 22.0, 25.0, 22.0, 26.0, 23.0, 24.0, 20.0, 26.0, 26.0, 9.0]
White Blood Cell Count: [18900.0, 14600.0, 15200.0, 16300.0, 15200.0, 14600.0, 19100.0, 16700.0, 26400.0, 15700.0]
Red Blood Cell Count: [2.6, 3.2, 3.4, 3.2, 3.4, 2.1, 3.2, 2.9, 2.7, 8.0, 3.0, 2.9, 3.1, 3.4, 3.4, 3.4, 3.3, 2.5, 2.1]
Class: []
GFR: [182.35054167576072, 195.2410115007093, 195.2410115007093, 178.2341004255803, 202.6025195547091, 180.63660837185802, 186.0932384058271, 249.2960360888259, 190.34279557235834, 189.22601814906542, 197.99470832857153, 179.01392870403117, 190.53629356886947]

In [5]:
from sklearn.compose import ColumnTransformer
from sklearn.preprocessing import StandardScaler, OneHotEncoder, LabelEncoder

x = df.drop(['Class', 'CKD Stages'], axis=1)
y = df['CKD Stages']

x_num = x.select_dtypes(include=['number'])  # includes both integers and floats
x_cat = x.select_dtypes(include=['object'])

transformer = ColumnTransformer([
    ('num', StandardScaler(), x_num.columns),
    ('cat', OneHotEncoder(), x_cat.columns)  # we can also use OrdinalEncoder, but not LabelEncoder, it does work in ColumnTransformer, casue it is made for 1D array for target
])

x = transformer.fit_transform(x)

In [6]:
# create back a table to get correlation

x_names = transformer.get_feature_names_out()  # Get feature names from the transformer
transformed_df = pd.DataFrame(x, columns=x_names)
transformed_df['CKD Stages'] = y.values
transformed_df.head()

,num__Age,num__Blood Pressure,num__Specific Gravity,num__Albumin,num__Sugar,num__Blood Glucose Random,num__Blood Urea,num__Serum Creatinine,num__Sodium,num__Potassium,...,cat__Diabetes Mellitus_yes,cat__Coronary Artery Disease_no,cat__Coronary Artery Disease_yes,cat__Appetite_good,cat__Appetite_poor,cat__Pedal Edema_no,cat__Pedal Edema_yes,cat__Anemia_no,cat__Anemia_yes,CKD Stages
0,-0.101098,-0.363613,-2.713365,2.273474,-0.312233,-0.221549,0.072474,0.525250,-3.730148,-0.616596,...,0.0,1.0,0.0,0.0,1.0,0.0,1.0,0.0,1.0,3
1,0.222253,1.431726,0.023092,0.853676,-0.312233,-0.947597,1.151950,1.633514,-3.328309,-0.270309,...,1.0,1.0,0.0,0.0,1.0,1.0,0.0,0.0,1.0,3
2,0.868954,-0.363613,-1.801213,1.563575,-0.312233,3.841231,0.157139,0.166693,-1.051224,-0.126022,...,1.0,1.0,0.0,0.0,1.0,0.0,1.0,1.0,0.0,3
3,1.192305,0.534056,-1.801213,1.563575,2.154410,0.396364,0.792125,0.623038,-1.185170,0.508838,...,1.0,0.0,1.0,0.0,1.0,0.0,1.0,1.0,0.0,3
4,0.739614,0.534056,-0.889060,0.853676,-0.312233,0.643529,2.019764,0.557846,-0.515439,0.162550,...,1.0,0.0,1.0,0.0,1.0,0.0,1.0,0.0,1.0,3

In [7]:
# corr table
corr_x_y = transformed_df.corr()['CKD Stages'].sort_values(ascending=False)
corr_x_y

CKD Stages                          1.000000
num__Albumin                        0.758326
cat__Hypertension_yes               0.749871
num__Serum Creatinine               0.659456
cat__Diabetes Mellitus_yes          0.640144
cat__Pus Cell_abnormal              0.634949
num__Blood Urea                     0.578741
num__Blood Glucose Random           0.548563
cat__Pedal Edema_yes                0.535339
cat__Appetite_poor                  0.469858
cat__Anemia_yes                     0.466765
num__Sugar                          0.458655
cat__Red Blood Cells_abnormal       0.451744
cat__Pus Cell clumps_present        0.430084
cat__Coronary Artery Disease_yes    0.401832
num__Age                            0.365204
cat__Bacteria_present               0.331216
num__Blood Pressure                 0.313169
num__White Blood Cell Count         0.268628
num__Potassium                      0.141585
cat__Bacteria_notpresent           -0.331216
cat__Coronary Artery Disease_no    -0.401832
cat__Pus Cell clumps_notpresent    -0.430084
cat__Red Blood Cells_normal        -0.451744
cat__Anemia_no                     -0.466765
cat__Appetite_good                 -0.469858
num__Sodium                        -0.518065
cat__Pedal Edema_no                -0.535339
num__Red Blood Cell Count          -0.560451
num__Specific Gravity              -0.613340
cat__Pus Cell_normal               -0.634949
cat__Diabetes Mellitus_no          -0.640144
num__Hemoglobin                    -0.663124
num__Packed Cell Volume            -0.700061
cat__Hypertension_no               -0.749871
num__GFR                           -0.889920
Name: CKD Stages, dtype: float64

In [8]:
# get rows with absolute value > 0.3
core_above3 = corr_x_y[abs(corr_x_y) > 0.3]
core_above3

CKD Stages                          1.000000
num__Albumin                        0.758326
cat__Hypertension_yes               0.749871
num__Serum Creatinine               0.659456
cat__Diabetes Mellitus_yes          0.640144
cat__Pus Cell_abnormal              0.634949
num__Blood Urea                     0.578741
num__Blood Glucose Random           0.548563
cat__Pedal Edema_yes                0.535339
cat__Appetite_poor                  0.469858
cat__Anemia_yes                     0.466765
num__Sugar                          0.458655
cat__Red Blood Cells_abnormal       0.451744
cat__Pus Cell clumps_present        0.430084
cat__Coronary Artery Disease_yes    0.401832
num__Age                            0.365204
cat__Bacteria_present               0.331216
num__Blood Pressure                 0.313169
cat__Bacteria_notpresent           -0.331216
cat__Coronary Artery Disease_no    -0.401832
cat__Pus Cell clumps_notpresent    -0.430084
cat__Red Blood Cells_normal        -0.451744
cat__Anemia_no                     -0.466765
cat__Appetite_good                 -0.469858
num__Sodium                        -0.518065
cat__Pedal Edema_no                -0.535339
num__Red Blood Cell Count          -0.560451
num__Specific Gravity              -0.613340
cat__Pus Cell_normal               -0.634949
cat__Diabetes Mellitus_no          -0.640144
num__Hemoglobin                    -0.663124
num__Packed Cell Volume            -0.700061
cat__Hypertension_no               -0.749871
num__GFR                           -0.889920
Name: CKD Stages, dtype: float64

In [9]:
final_x_names = core_above3.index.tolist()
final_x_names

['CKD Stages',
 'num__Albumin',
 'cat__Hypertension_yes',
 'num__Serum Creatinine',
 'cat__Diabetes Mellitus_yes',
 'cat__Pus Cell_abnormal',
 'num__Blood Urea',
 'num__Blood Glucose Random',
 'cat__Pedal Edema_yes',
 'cat__Appetite_poor',
 'cat__Anemia_yes',
 'num__Sugar',
 'cat__Red Blood Cells_abnormal',
 'cat__Pus Cell clumps_present',
 'cat__Coronary Artery Disease_yes',
 'num__Age',
 'cat__Bacteria_present',
 'num__Blood Pressure',
 'cat__Bacteria_notpresent',
 'cat__Coronary Artery Disease_no',
 'cat__Pus Cell clumps_notpresent',
 'cat__Red Blood Cells_normal',
 'cat__Anemia_no',
 'cat__Appetite_good',
 'num__Sodium',
 'cat__Pedal Edema_no',
 'num__Red Blood Cell Count',
 'num__Specific Gravity',
 'cat__Pus Cell_normal',
 'cat__Diabetes Mellitus_no',
 'num__Hemoglobin',
 'num__Packed Cell Volume',
 'cat__Hypertension_no',
 'num__GFR']

In [10]:
final_x = transformed_df[final_x_names].drop(['CKD Stages'], axis=1)
final_y = transformed_df['CKD Stages']

In [11]:
from sklearn.model_selection import train_test_split

x_train, x_test, y_train, y_test = train_test_split(final_x, final_y, stratify=final_y, test_size=0.2, random_state=42)
# stratify=final_y: Ensures the class distribution (e.g., ratios of CKD stages) is preserved in both train and test sets. Critical for imbalanced datasets.

In [12]:
from sklearn.linear_model import LogisticRegression
from sklearn.metrics import accuracy_score

log_reg = LogisticRegression()
log_reg.fit(x_train, y_train)
y_pred = log_reg.predict(x_test)
acc_score = accuracy_score(y_test, y_pred)
acc_score

0.875

In [13]:
from sklearn.ensemble import RandomForestClassifier

rand_for = RandomForestClassifier()
rand_for.fit(x_train, y_train)
y_pred = rand_for.predict(x_test)
acc_score1 = accuracy_score(y_test, y_pred)
acc_score1

1.0

In [14]:
from sklearn.neighbors import KNeighborsClassifier

knn = KNeighborsClassifier()
knn.fit(x_train, y_train)
y_pred = knn.predict(x_test)
acc_score2 = accuracy_score(y_test, y_pred)
acc_score2

0.84375